Makefile.in
perf/Makefile.in
src/Makefile.in
Makefile
aclocal.m4
autom4te.cache
autoscan.log
configure
config.log
config.status
configure.scan
libtool
*.stamp
stamp-*
*.class
.deps
.libs
*.la
*.o
*.lo
*~
src/main/c++/config.hpp.in
src/main/c++/config.hpp
src/main/c++/org_zeromq_*.h
lib/
target/
.classpath
.idea
.project
.settings/
build-stamp
configure-stamp
builds/msvc/msvc.ncb
builds/msvc/msvc.suo
builds/msvc/jzmq/jzmq.vcproj.*
builds/msvc/local_lat/local_lat.vcproj.*
builds/msvc/local_thr/local_thr.vcproj.*
builds/msvc/remote_lat/remote_lat.vcproj.*
builds/msvc/remote_thr/remote_thr.vcproj.*
builds/msvc/jzmq/Debug/
builds/msvc/local_lat/Debug/
builds/msvc/local_thr/Debug/
builds/msvc/remote_lat/Debug/
builds/msvc/remote_thr/Debug/
builds/msvc/jzmq/Release/
builds/msvc/local_lat/Release/
builds/msvc/local_thr/Release/
builds/msvc/remote_lat/Release/
builds/msvc/remote_thr/Release/
debian/files
debian/jzmq.debhelper.log
debian/jzmq.postinst.debhelper
debian/jzmq.postrm.debhelper
debian/jzmq.substvars
debian/jzmq/
debian/tmp/
.DS_Store
*.iml
config/
build/
builds/msvc/Debug/
builds/msvc/Release/
builds/msvc/UpgradeLog.XML
builds/msvc/_UpgradeReport_Files/
builds/msvc/jzmq/*.dll
builds/msvc/jzmq/jzmq.vcxproj*
builds/msvc/msvc.sdf
builds/msvc/*.lib
builds/msvc/*.dll
builds/msvc/local_lat/local_lat.vcxproj*
builds/msvc/local_thr/local_thr.vcxproj*
builds/msvc/remote_lat/remote_lat.vcxproj*
builds/msvc/remote_thr/remote_thr.vcxproj*
perf/*.dll
\#*
.\#*
*.jar
INSTALL
.checkstyle
javac_stamp
javah_stamp
.tags*
*.sublime-project
*.sublime-workspace
### Maven template
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

### C template
# Prerequisites
*.d

# Object files
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

### C++ template
# Prerequisites

# Compiled Object files
*.slo

# Precompiled Headers

# Compiled Dynamic libraries

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai

# Executables

### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# Generated files
.idea/**/contentModel.xml

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# Gradle
.idea/**/gradle.xml
.idea/**/libraries

# Gradle and Maven with auto-import
# When using Gradle or Maven with auto-import, you should exclude module files,
# since they will be recreated, and may cause churn.  Uncomment if using
# auto-import.
# .idea/modules.xml
# .idea/*.iml
# .idea/modules
# *.iml
# *.ipr

# CMake
cmake-build-*/

# Mongo Explorer plugin
.idea/**/mongoSettings.xml

# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Editor-based Rest Client
.idea/httpRequests

# Android studio 3.1+ serialized cache file
.idea/caches/build_file_checksums.ser

### Autotools template
# http://www.gnu.org/software/automake

/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap

# http://www.gnu.org/software/autoconf

/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.log
/config.status
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1

# https://www.gnu.org/software/libtool/

/ltmain.sh

# http://www.gnu.org/software/texinfo

/texinfo.tex

# http://www.gnu.org/software/m4/

m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

# Generated Makefile
# (meta build system like autotools,
# can automatically generate from config.status script
# (which is called by configure script))

### Gradle template
.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

### Java template
# Compiled class file

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
